/* Index page styles */
.jumbotron {
    background-image: url(images/campus.jpg);
    background-color: rgba(255, 255, 255, 0.82);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    
} 

